<html>
    <head>
    </head>
    <body>
        Sign up Or <a href = '/auth/signin'>Sign In</a><p>
        <div>
            <form name = "signupform" action="/auth/signup" method = "post">
                Username:<input name = "username" id="username"/><br/>
                Password:<input type = "password" name = "password" id="password"/><p>
                <input type="submit" value="Sign up" />
            </form>
        </div>
    </body>
</html> 