<html>
    <head>
    </head>
    <body>
        Welcome to Sign In form<p>
        <div>
            <form name = "signinform" action="/auth/signin" method = "post">
                Username:<input name = "username" id="username"/><br/>
                Password:<input type = "password" name = "password" id="password"/><br/><p>
                <input type="submit" value="Sign in" />
            </form>
        </div>
    </body>
</html> 